 <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FORM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <form action="/form.html" method="post">
            <div>
                <label for="id">Nom :</label>
                <input type="text" id="id" name="id">
            </div>
            <div>
                <label for="message">message :</label>
                <input type="text" id="message" name="message">
            </div>
 </body>
</html>>
